@model IEnumerable<PortalAdopcjiZwierzat.Models.Zwierzeta.Zwierze>

@{
    ViewData["Title"] = "Index";
}

<h1>Zwierzęta</h1>

<p>
    <a asp-action="Create">Dodaj zwierzę</a>
</p>
<form asp-controller="Zwierze" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" placeholder="Szukana fraza" />
        <input type="submit" value="Szukaj" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adoptowany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Umaszczenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Siersc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZdjecieUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adoptowany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umaszczenie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siersc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wiek)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.ZdjecieUrl)" alt="zwierze" class="img-thumbnail" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edutuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
